body {
    background-color: #3F3A36;
    color:antiquewhite;
}

h1{
   text-align:center;
}

table{
   width:60%;
   border-spacing:0;
   border-collapse:collapse;
}

table, tr {
    border: 1.5px solid orange;
}

th,td{
    text-align:left;
    padding:15px;
    font-size:large;
    font-weight:600;
}

th{
    color:darkgray;
    cursor:pointer;
}

p{
    font-size:large;
}

